<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This web app was created by Stan Volcere. It uses data from Mapbox.com and DarkSky.net</p>
        <img class="portrait" src="/img/picme2.png" alt="">
    </div>
    
    {{>footer}}
</body>
</html>